
GanPlanRhino/.vs/GanPlanRhino/v16/.suo
*.lock
GanPlanRhino/.vs/GanPlanRhino/v16/Server/sqlite3/storage.ide
GanPlanRhino/.vs/GanPlanRhino/v16/Server/sqlite3/storage.ide-shm
GanPlanRhino/.vs/GanPlanRhino/v16/Server/sqlite3/storage.ide-wal
GanPlanRhino/GanPlanRhino/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GanPlanRhino/GanPlanRhino/obj/Debug/GanPlanRhino.csprojAssemblyReference.cache
GanPlanRhino/GanPlanRhino/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
